<app-header
  (onSearchMovies)="onSearchMovies($event)"
  (onSearchShows)="onSearchShows($event)"
  #toggler
></app-header>

<!--MOVIES-->
<ng-container *ngIf="toggler.togglerModel === 'movies'">
  <div class="d-flex align-items-center container pt-2 pb-2">
    <i
      class="fas fa-star d-md-block d-none fa-2x star-icon"
      (click)="onRatingClick()"
    ></i>
    <a
      [routerLink]="['/rating']"
      (click)="onRatingClick()"
      class="link-dark text-decoration-none ms-2 link-rating"
      >Click here to open list of all movies and rate them!</a
    >
  </div>
  <div class="container mt-3" *ngIf="movies.length">
    <ng-container *ngFor="let movie of movies; index as i">
      <ng-container
        *ngIf="(i < loadMoreCounterMovies && !loadMoreMovies) || loadMoreMovies"
      >
        <app-movie-details
          [i]="i"
          [title]="movie['title']"
          [desc]="movie['overview']"
          [releaseDate]="movie['release_date']"
          [actors]="movie['genre_ids']"
          [vote]="movie['vote_average']"
          [cover]="'https://source.unsplash.com/random?movie/'"
        ></app-movie-details>
      </ng-container>
    </ng-container>
    <div
      class="pt-2 pb-2 d-flex justify-content-center"
      [ngClass]="{ 'd-none': loadMoreCounterMovies >= movies.length }"
    >
      <button class="btn btn-outline-primary" (click)="onLoadMoreMovies()">
        View More Results
      </button>
    </div>
  </div>
</ng-container>

<!--TV SHOWS-->
<ng-container *ngIf="toggler.togglerModel === 'shows'">
  <div class="container mt-3" *ngIf="shows.length">
    <ng-container *ngFor="let show of shows; index as i">
      <ng-container
        *ngIf="(i < loadMoreCounterShows && !loadMoreShows) || loadMoreShows"
      >
        <app-movie-details
          [i]="i"
          [title]="show['name']"
          [desc]="show['overview']"
          [releaseDate]="show['first_air_date']"
          [actors]="show['genre_ids']"
          [vote]="show['vote_average']"
          [cover]="'https://source.unsplash.com/random?poster/'"
        ></app-movie-details>
      </ng-container>
    </ng-container>
    <div
      class="pt-2 pb-2 d-flex justify-content-center"
      [ngClass]="{ 'd-none': loadMoreCounterShows >= shows.length }"
    >
      <button class="btn btn-outline-primary" (click)="onLoadMoreShows()">
        View More Results
      </button>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
