<!--SEARCH BAR FOR MOVIES-->
<ng-container *ngIf="togglerModel === 'movies'" class="container">
  <div class="mx-auto mt-2 container search-container">
    <div class="input-group">
      <input
        minlength="2"
        class="form-control border-end-0 border rounded-pill"
        type="text"
        placeholder="Search..."
        (input)="onSearchMovies($event)"
        [ngClass]="{ 'validate-input': term.length <= 2 }"
      />
    </div>
  </div>
</ng-container>

<!--SEARCH BAR FOR SHOWS-->
<ng-container *ngIf="togglerModel === 'shows'" class="container">
  <div class="container mx-auto mt-2 search-container">
    <div class="input-group">
      <input
        minlength="2"
        class="form-control border-end-0 border rounded-pill"
        type="text"
        placeholder="Search..."
        (input)="onSearchShows($event)"
        [ngClass]="{ 'validate-input': term.length <= 2 }"
      />
    </div>
  </div>
</ng-container>

<!--TOGGLER-->
<div class="mt-3">
  <div
    class="d-flex justify-content-center"
    [(ngModel)]="togglerModel"
    name="toggler"
    ngDefaultControl
  >
    <div class="form-check form-check-inline d-flex align-items-center">
      <input
        class="form-check-input"
        type="radio"
        name="toggler"
        id="movies"
        value="movies"
        checked
      />
      <label class="form-check-label fs-4 ms-2" for="movies"> Movies </label>
    </div>
    <div class="form-check form-check-inline d-flex align-items-center ms-3">
      <input
        class="form-check-input"
        type="radio"
        name="toggler"
        id="shows"
        value="shows"
      />
      <label class="form-check-label fs-4 ms-2" for="shows"> TV Shows </label>
    </div>
  </div>
</div>

<!--MOVIES-->
<ng-container *ngIf="togglerModel === 'movies'">
  <!--RATING-->
  <div class="d-flex align-items-center container pt-2 pb-2">
    <i
      class="fas fa-star d-md-block d-none fa-2x star-icon"
      (click)="onRatingClick()"
    ></i>
    <a
      [routerLink]="['/rating']"
      (click)="onRatingClick()"
      class="link-dark text-decoration-none ms-2 link-rating"
      >Click here to open list of all movies and rate them!</a
    >
  </div>
  <div class="container mt-3" *ngIf="movies.length">
    <ng-container *ngFor="let movie of movies; index as i">
      <ng-container
        *ngIf="(i < loadMoreCounterMovies && !loadMoreMovies) || loadMoreMovies"
      >
        <app-movies
          [i]="i"
          [title]="movie['title']"
          [desc]="movie['overview']"
          [releaseDate]="movie['release_date']"
          [actors]="movie['genre_ids']"
          [vote]="movie['vote_average']"
          [cover]="'https://source.unsplash.com/random?movie/'"
        ></app-movies>
      </ng-container>
    </ng-container>
    <div
      class="pt-2 pb-2 d-flex justify-content-center"
      [ngClass]="{ 'd-none': loadMoreCounterMovies >= movies.length }"
    >
      <button class="btn btn-outline-primary" (click)="onLoadMoreMovies()">
        View More Results
      </button>
    </div>
  </div>
</ng-container>

<!--TV SHOWS-->
<ng-container *ngIf="togglerModel === 'shows'">
  <div class="container mt-3" *ngIf="shows.length">
    <ng-container *ngFor="let show of shows; index as i">
      <ng-container
        *ngIf="(i < loadMoreCounterShows && !loadMoreShows) || loadMoreShows"
      >
        <app-movies
          [i]="i"
          [title]="show['name']"
          [desc]="show['overview']"
          [releaseDate]="show['first_air_date']"
          [actors]="show['genre_ids']"
          [vote]="show['vote_average']"
          [cover]="'https://source.unsplash.com/random?poster/'"
        ></app-movies>
      </ng-container>
    </ng-container>
    <div
      class="pt-2 pb-2 d-flex justify-content-center"
      [ngClass]="{ 'd-none': loadMoreCounterShows >= shows.length }"
    >
      <button class="btn btn-outline-primary" (click)="onLoadMoreShows()">
        View More Results
      </button>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
